@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using (Html.BeginForm("CreateStation", "Map", FormMethod.Post))
{
<form action="" method="get" class="form-example">
    <div>
        <label for="adresse">Adresse </label>
        <input type="text" id="adresse" name="adresse" required>
    </div>
    <div class="form-example">
        <label for="num">Numéro</label>
        <input type="text" name="num" id="num" required>
    </div>
    <div class="form-example">
        <label for="ville">Ville</label>
        <input type="text" name="ville" id="ville" required>
    </div>
    <div class="form-example">
        <label for="postal">Code postal</label>
        <input type="text" name="postal" id="postal"  required>
    </div>
    <div>
        <label for="lat">Latitude </label>
        <input type="number" id="lat" name="lat"  step="any" required>
    </div>
    <div>
        <label for="longitude">Longitude </label>
        <input type="number" id="longitude" name="naiss" step="any" required>
    </div>
    <div class="form-example">
        <input type="submit" value="Valider mes informations">
    </div>
</form>
}
