@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model System.Data.DataTable
    @using System.Data;
     var idClient = User.Claims.FirstOrDefault(c => c.Type == "IdClient").Value;

}


<!DOCTYPE html>
<html>
<head>

</head>

<body>
    <table class="table table-hover">
        <thead>
            <tr>
                @foreach (DataColumn col in Model.Columns)
                {
                    <th>@col.ColumnName</th>
                }
                <th>
                    Réserver
                </th>
               
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow row in Model.Rows)
            {
            <tr>
                @foreach (DataColumn col in Model.Columns)
                {
                    <td>@row[col.ColumnName]</td>
                }
            <td>
                @if ( (((string)row["Disponibilite"] == "Reserve" ) ) || (string)row["Disponibilite"] == "Pas de véhicule")
                {
                    <button disabled>Réserver</button>
                }
                else
                {
                    <button onclick="sendReservation(@row["NumBorne"])">Réserver</button>
                }
            </td>
                
            </tr>
            }
        </tbody>
    </table>


    
</body>
</html>

<script>

    function sendReservation(id) {
        location.href = location.href + "/" + id;
    }
   
</script>

